.navigation {
  background-color: hsl(var(--background));
  padding: 15px 40px;
  position: sticky;
  top: 0;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.navigation-menu-icons {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.navigation-dock {
  position: fixed;
  bottom: 0;
  z-index: 20;
  width: 100%;
  display: none;
  background-color: hsl(var(--background));
}

.sticky-container {
  border-top: 1px solid #e0e0e0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  width: 100vw;
  top: 88%;
  z-index: 20;
}

.sticky {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 0px;
  margin: 0px 0px 1px 0px;
  z-index: 20;
}

.sticky a:hover {
  transform: scale(1.1);
}

.sticky button {
  height: 50px;
  transition: all 0.2s;
}

.socialIcon {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seperator {
  height: 50px;
}

@media (max-width: 620px) {
  .navigation {
    padding: 15px 20px;
  }
  .navigation-menu-icons {
    display: none;
  }

  .navigation-dock {
    display: flex;
  }
}
