.projects-container {
  position: relative;
  top: -30vh;
}

#image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 0;
  transform: translate(0%, 0);
  user-select: none;
  width: max-content;
  padding-left: 5vw;
}

#image-track > .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 75% center;
  border-radius: 10px;
}

/* Add a container for the track to control the viewport */
.track-container {
  width: 100vw;
  overflow: hidden;
  position: relative;
  height: 65vmin;
  display: flex;
  align-items: center;
}

.projects-title {
  position: relative;
  top: 50%;
  left: 100vw;
  transform: translateX(100vw);
  transition: transform 0.5s ease-out;
}

.projects-title.slide-in {
  transform: translateX(-56vw);
}

.projects-title.slide-out {
  transform: translateX(56vw);
}
