@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

body {
  font-family: 'JetBrains Mono', Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

@layer base {
  

  
:root  {
  --background: 241 38% 95%;
  --foreground: 241 5% 10%;
  --card: 241 38% 90%;
  --card-foreground: 241 5% 15%;
  --popover: 241 38% 95%;
  --popover-foreground: 241 95% 10%;
  --primary: 241 27% 43%;
  --primary-foreground: 0 0% 100%;
  --secondary: 241 30% 88%;
  --secondary-foreground: 0 0% 0%;
  --muted: 203 30% 88%;
  --muted-foreground: 241 5% 40%;
  --accent: 203 30% 88%;
  --accent-foreground: 241 5% 15%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 241 5% 90%;
  --border: 241 30% 82%;
  --input: 241 30% 50%;
  --ring: 241 27% 43%;
  --radius: 0.3rem;
}
.dark  {
  --background: 241 38% 10%;
  --foreground: 241 5% 90%;
  --card: 241 38% 10%;
  --card-foreground: 241 5% 90%;
  --popover: 241 38% 5%;
  --popover-foreground: 241 5% 90%;
  --primary: 241 27% 43%;
  --primary-foreground: 0 0% 100%;
  --secondary: 241 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 203 30% 25%;
  --muted-foreground: 241 5% 65%;
  --accent: 203 30% 25%;
  --accent-foreground: 241 5% 90%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 241 5% 90%;
  --border: 241 30% 50%;
  --input: 241 30% 50%;
  --ring: 241 27% 43%;
  --radius: 0.3rem;
}

  

}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
