.svg-background {
  position: absolute;
  top: -50px;
  left: 0;
  width: 100vw;
}

.svg-background svg {
  width: 100%;
  height: fit-content;
  object-fit: cover;
}

.svg-background svg path {
  fill: hsl(var(--heading));
  stroke: hsl(var(--heading));
}

.svg-background-two svg path {
  transform: translateY(-100%);
}

.svg-background-three svg path {
  transform: translateY(-300%);
}

.svg-background-four svg path {
  transform: translateY(-300%);
}
