.svg-background {
  position: relative;
  // top: -35vh;
  left: 0;
  width: 100vw;
  overflow: hidden;
}

.svg-background svg {
  width: 100%;
  height: fit-content;
  object-fit: cover;
  margin: 0 auto;
}

.svg-background svg path {
  fill: hsl(var(--tokyo-1));
  stroke: hsl(var(--tokyo-1));
}

.svg-background-two svg path {
  transform: translateY(-100%);
  transform: translateX(-23%);
}

.svg-background-three svg path {
  transform: translateY(-300%);
}

.svg-background-four svg path {
  transform: translateY(-300%);
}

@media (max-width: 620px) {
  .svg-background svg {
    width: 200%;
    transform: translateX(-50vw);
  }

  .svg-background-two svg {
    width: 200%;
    // transform: translateX(-5vw);
  }
}
